#main {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}